@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

*,
*::before,
*::after {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+ */
  user-select: none;         /* 표준 */
  -webkit-user-drag: none;   /* 이미지 등 드래그(크롬/사파리) */
}

/* 이미지나 링크에 추가 안전장치 */
img, a {
  -webkit-user-drag: none;
  user-drag: none;
}

::-webkit-scrollbar {
  display: none;
}

/* styles/globals.css */

/* Lenis 스무스 스크롤 */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html, body {
  background-color: black;
}